* {
  font-family: "Poppins", sans-serif !important;
  font-weight: 400;
  font-size: 14px;
}
body {
  background-color: #f8f8f8;
}

.container {
  background-color: transparent !important;
}

.sell-btn {
  background-color: #29b24e;
  color: white;
  padding: 13px 26px;
  border-radius: 12px;
  border: none;
}
/* hover over nav items */
.nav-link {
  position: relative;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #29b24e;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 0;
  background-color: #29b24e;
  transition: width 0.3s ease;
}

.nav-link:hover::after {
  width: 100%;
}

/* main iamge */
.hero-section {
  height: 750px;
  overflow: hidden;
}

.hero-section img {
  object-fit: cover;
  height: 100%;
}

.search-box {
  color: black;
  text-align: center;
}
.object-fit-cover {
  object-fit: cover;
}
/* Green checkboxes */
.form-check-input {
  border-color: #29b24e;
  border-radius: 0.25rem;
}
.form-check-input:checked {
  background-color: #29b24e;
  border-color: #29b24e;
}

.form-check-input:focus {
  box-shadow: 0 0 0 0.15rem rgba(41, 178, 78, 0.25);
}
.vip-badge {
  position: absolute;
  top: 22px;
  left: 22px;
  background-color: #29b24e;
  border: 2px solid #29b24e;
  border-radius: 999px;
  padding: 4px 12px;
  font-size: 12px;
  color: white;
  font-weight: 600;
}

.bookmark_icon {
  color: #29b24e;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(-50%, 20%);
  width: 40px;
  height: 40px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer {
  background-color: #29b24e;
  color: white;
  padding: 2rem;
  font-size: 14px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

.footer-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.footer-link:hover {
  text-decoration: underline;
}

footer ul {
  padding-left: 0;
}

footer li {
  line-height: 1.8;
}
.sell-button-lift {
  margin-top: -18px;
}
.sell-icon-bg {
  width: 56px;
  height: 56px;
  background-color: #29b24e;
  border-radius: 16px;
}

@media (max-width: 991.98px) {
  body {
    padding-bottom: 100px; /* adjust based on your nav height */
  }
}
